#APl{
    -fx-border-color:#0A0A7A;
    -fx-border-width: 2px;
}

#v1 {

    -fx-background-color: #9e9691;
    -fx-border-color: #4c4743   #4c4743 transparent   #4c4743 ;
    -fx-border-width: 2px;

}
#pl1{
    -fx-background-color: #293D52;
    -fx-background-radius: 5,5,0,0;


}
.card{
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,1.5);

}
.gtext{
    -fx-border-color: transparent transparent black transparent ;
    -fx-background-color: transparent;
}
.btn{
    -fx-background-color:  #293D52;
    -fx-border-color: white;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}