#user{
    -fx-background-color:#f1f1f1;
}
#user:hover{
    -fx-background-color:#f1f1f1;
    -fx-text-fill:Black;
}

#home{
    -fx-background-color:#f1f1f1;
    -fx-border-style:solid;
    -fx-border-color: #ABB2B9   #ABB2B9   #ABB2B9    #f1f1f1;
    -fx-border-height: 2px 6px 2px 2px;
}

#home:hover{
    -fx-background-color:#f1f1f1;
}

.button:hover{
    -fx-background-color:#433e3a;
    -fx-text-fill:#b3b1af;
    -fx-border-style: none;
}

.button:focused {
    -fx-background-color:#373635;
    -fx-text-fill:#c4c4c4;
    -fx-border-style: none;
}

#ForemanBaseAnchorPane{
    -fx-content-display:block;
    -fx-font-weight :bold;
    -fx-background-color:darkgrey;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:Black;
}

.tab-pane .tab:selected .tab-label{
    -fx-background-color: #000000;
    -fx-alignment: CENTER;
    -fx-text-fill: #ff6600;


}

.tab-pane {
    -fx-tab-min-width:210px;
    -fx-tab-max-width:210px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
    /*-fx-background-image: url("train.jpg");*/

}



.tab-pane .tab  {

    -fx-alignment: CENTER;
    -fx-background-color: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
#homeTab{
    -fx-tab-min-width:300px;
    -fx-tab-max-width:300px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
}
.tab-label{
    -fx-text-fill: gray;
}

.tab:hover .tab-label  {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffb380;
}

.label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
#btn_submit {
    -fx-background-color:  #293D52;
    -fx-border-color: white;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

#btn_submit1 {
    -fx-background-color:  #293D52;
    -fx-border-color: white;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
 .text-area{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-width: 1;
     -fx-effect: none;
    -fx-border-color: Black black black black;

}

 .text-field{
     -fx-background-color: transparent;
     -fx-text-fill: black;
     -fx-font-weight: bold;
     -fx-border-width: 1;
     -fx-border-color: transparent transparent black transparent;
 }

.combo-box{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent black transparent;
}

.date-picker{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent transparent transparent;
}

/* #txt_active #txt_counteraction #txt_active #txt_dead #txt_description #txt_driverNote #txt_empID #txt_engineNo #txt_idle #txt_nearestYard #txt_note #txt_place #txt_recoveryOption #txt_running #txt_sugessions #txt_time #txt_userName*/